<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="org.grits.toolbox.lab.servicelab.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.grits.toolbox.core.preferencePages">
      <page
            class="org.grits.toolbox.lab.servicelab.preference.ServiceLabPreferencePage"
            id="org.grits.toolbox.lab.servicelab.preference.main"
            name="Service Lab">
      </page>
      <page
            category="org.grits.toolbox.lab.servicelab.preference.main"
            class="org.grits.toolbox.lab.servicelab.preference.BillingPreferencePage"
            id="org.grits.toolbox.lab.servicelab.preference.billing"
            name="Billing">
      </page>
   </extension>

</plugin>
